
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#time-remaining {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.input-container label {
    margin-bottom: 10px;
    color: #555;
}

.input-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 5px; 
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 0.8;
}

/* Start-Button */
button:nth-child(3) {
    background-color: #4caf50;
    color: white;
}

/* Reset-Button */
button:nth-child(4) {
    background-color: #FFC107;  /* Goldfarbe */
    color: white;
}

/* Stop-Button */
button:nth-child(5) {
    background-color: #f44336;
    color: white;
}

.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #E0E0E0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.progress {
    height: 20px;
    width: 0%;
    background-color: #4CAF50;
}

/* Dark mode styles */

body.dark-mode {
    background-color: #1c1c1e;
    color: #e0e0e0;
}

body.dark-mode .timer-container #time-remaining {
    color: #e0e0e0;
}

body.dark-mode .input-container {
    background-color: #2c2c2e;
    color: #e0e0e0;
}

body.dark-mode .input-container label {
    color: #c0c0c0;
}

body.dark-mode .input-container input {
    background-color: #3c3c3e;
    border: 1px solid #555;
    color: #e0e0e0;
}

body.dark-mode button:nth-child(3) {
    background-color: #4caf50;
    color: white;
}

body.dark-mode button:nth-child(4) {
    background-color: #FFC107;
    color: white;
}

body.dark-mode button:nth-child(5) {
    background-color: #f44336;
    color: white;
}

body.dark-mode .progress-bar {
    background-color: #3c3c3e;
}

/* Dark mode styles for the toggle button */
body.dark-mode #darkModeToggle {
    background-color: #3c3c3e;
    color: #e0e0e0;
}

/* Default styles for the toggle button */
#darkModeToggle {
    background-color: #fff;
    color: #333;
}
