body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

#title {
    font-size: 48px;
    color: #2c3e50;
    position: absolute;
    top: 0;
    left: 20px;
}

#time-remaining {
    font-size: 48px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.input-container label {
    margin-bottom: 10px;
    color: #34495e;
}

.input-container input {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #34495e;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s, opacity 0.3s;
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 0.8;
}

/* Start-Button */
#startBtn {
    background-color: #2ecc71;
    color: white;
}

/* Reset-Button */
#resetBtn {
    background-color: #e67e22;
    color: white;
}

/* Stop-Button */
#stopBtn {
    background-color: #e74c3c;
    color: white;
}

.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #bdc3c7;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.progress {
    height: 100%;
    width: 0%;
    background-color: #2ecc71;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode #title,
body.dark-mode #time-remaining {
    color: #ffffff;
}

body.dark-mode .input-container {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .input-container label,
body.dark-mode .input-container input {
    color: #ffffff;
    background-color: #444444;
    border: 1px solid #555555;
}

body.dark-mode button {
    background-color: #555555;
    color: #ffffff;
}

body.dark-mode button:hover {
    background-color: #666666;
}

body.dark-mode .progress-bar {
    background-color: #333333;
}

body.dark-mode .progress {
    background-color: #777777;
}

/* Dark mode toggle icon styles */
.mode-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.mode-icon:hover {
    filter: brightness(0.8);
}

.hidden {
    display: none;
}


